<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <form action="/monopoly/<%= monopoly["_id"] %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= monopoly.name %>"><br />
        Piece: <input type="text" name="type" value="<%= monopoly.piece %>"><br />
        Properties: 
        <ul>
            <% for( let i = 0; i < monopoly.properties.length; i++ ) { %>
                <li>
                    <%= monopoly.properties[i]%>
                </li>
            <% } %>
        </ul>
        Add New Properties:
        <% for( let i = 0; i < propertyList.length; i++ ) { %>
            <% if(!(propertyList[i].isPurchased)) { %>
                <button onclick="javascript: (function() {propertyList[i].isPurchased = true})">
                    <%= propertyList[i].name %>
                </button>
            <% } %>
        <% } %>
        <a href="/monopoly/<%=monopoly["_id"] %>/add-prop">Add Property</a>
    <br/>
    <input type="submit" name="" value="Submit Changes"/>
    </form>
</body>
</html>