<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <form action="/monopoly/<%= monopoly["_id"] %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= monopoly.name %>"><br />
        Piece: <input type="text" name="piece" value="<%= monopoly.piece %>"><br />
        Properties: 
        <ul>
            <% monopoly.properties.map((ownedProp) => { %>
                <li>
                    <%= ownedProp.propName%>
                </li>
            <% }) %>
        </ul>
        Add New Properties:
        <% propertyList.map((property) => { %>
            <% if(monopoly.properties.find((prop) => { return prop.propName === property.propName})) { %>
                <%= property.propName %><input type="checkbox" name="purchase_<%=property.propName%>" checked>
                <% } else { %>
                <%= property.propName %><input type="checkbox" name="purchase_<%=property.propName%>">
            <% } %>
        <% }) %>
    <br/>
    <input type="submit" name="" value="Submit Changes"/>
    </form>
</body>
</html>