<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1><%=monopoly.name%></h1>
    <h3>Piece: <%=monopoly.piece%></h3>
    <h4>Money: <%=monopoly.money%></h4>
    <h4>Properties: </h4>
    <ul>
        <li>Property: <%=monopoly.property.propName%></li>
        <li>Value: <%=monopoly.property.value%></li>
    </ul>
    </br>
    <nav>
        <a href="/monopoly">Back to Home Page</a>
    </nav>
</body>
</html>