<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Show Page</title>
</head>
<body class="showBody">
    <div class="showDiv">
    <h1><%=monopoly.name%></h1>
    <h3>Piece: <%=monopoly.piece%></h3>
    <h4>Money: $<%=monopoly.money%></h4>
    <h4>Properties: </h4>
    <div>
        <ul class="prop-list">
        <% monopoly.properties.map((property) => { %>
                <li>
                    Name: <%= property.propName %></br>
                    Value: <%= property.value %></br>
                </li>
            <% }) %>
        </ul>
    </div>
    </br>
    <button>
        <a href="/monopoly">Back to Home Page</a>
    </button>
</body>
</html>